* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

li {list-style: none;}
a {text-decoration: none;}

.container {
    width: 100vw;
    height: 100vh;
}

.container > video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.encabezado {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.panelIzquierdo {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.title > img {
    width: 500px;
    height: 80px;
}

.spanInformacion, .plataformas {
    margin-left: 2.2rem;
}

.spanInformacion {
    margin-top: 10px;
}

.spanInformacion span {
    color: #f00;
    font-size: 40px;
    font-weight: bold;
}

.plataformas {
    margin-top: 10px;
}

.plataformas li {
    display: inline-block;
    margin: 0 10px;
}

.plataformas img {
    width: 80px;
}

.panelDerecho {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.navegador {
    position: fixed;

}

.navegador li{
    display: inline-block;
}

.navegador a:not(.comprar):hover {
    color: #9e1111;
}

.navegador a {
    padding: 10px;
}

.comprar {
    background-color: #9e1111;
}

.mensaje {
    background-color: rgba(22, 22, 22, 0.2);
    width: 300px;
    height: 70px;
    position: relative;
    top: 20%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-top: 3px solid #9e1111;
    border-bottom: 3px solid #9e1111;
}

.mensaje span {
    color: #9e1111;
    font-weight: bold;
}